.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topBtns {
  width: 30%;
}

.sidenav-btn {
  height: 10%;
  float: left;
}

.sidebar {
  height: auto;
}

#root {
  height: 100%;
}

.head {
  height: 20%;
  width: 100%;
}

img {
  height: auto;
  width: 20%;
  float: left;
}
